    <div class="contact-w3ls" id="contact">
  <div class="container">
    <div class="agileits_heading_section">
      <h3 class="wthree_head">Contact Us</h3>
      <p class="w3l_sub_para_agile">Give me a message</p>
    </div>
    <div class="inner_w3l_agile_grids-1">
      <div class="contact-w3-agile2" data-aos="flip-left">
        <div class="contact-agileits">
          <h4>Drop a Line</h4>
          <p class="contact-agile2">Email us for more detailed infomation</p>
          <%= form_with url: contact_path, method: "post" do |f| %>
            <div class="col-md-6 w3l_area_its">
              <div class="control-group form-group">
                <div class="controls">
                  <label class="contact-p1">Full Name:</label>
                  <%= f.text_field :name, type: "text", class: "form-control", required: true %>
                  <p class="help-block"></p>
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <label class="contact-p1">Phone Number:</label>
                  <%= f.text_field :phone, type: "tel", class: "form-control", required: true %>
                  <p class="help-block"></p>
                </div>
              </div>
            </div>
            <div class="col-md-6 w3l_area">
              <div class="control-group form-group">
                <div class="controls">
                  <label class="contact-p1">Email Address:</label>
                  <%= f.text_field :email, type: "email", class: "form-control", required: true %>
                  <p class="help-block"></p>
                </div>
              </div>
              <div class="control-group form-group">
                <div class="controls">
                  <label class="contact-p1">Message:</label>
                  <%= f.text_area :message, rows: 3, class: "form-control" %>
                  <p class="help-block"></p>
                </div>
              </div>
              <div id="success"></div>
              <!-- For success/fail messages -->
              <%= f.button "Send", type: "submit", class: "btn btn-primary" %>
            </div>
            <div class="clearfix"> </div>
          <% end %>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
