<%= render "about" %>
<div class="tooltip-content">
	<div class="modal fade features-modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Vavimex</h4>
				</div>
				<div class="modal-body">
					<%= image_tag "g4.jpg", class: "img-responsive", alt: "Vavimex" %>
					<h5>Fishing Season Now Open</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius lectus vitae porttitor fringilla. Donec turpis orci, elementum a nunc quis, maximus varius ipsum. Sed bibendum ex in dignissim bibendum.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<%= render "gallery" %>

<%= render "main_product" %>

<%= render "stat" %>

<%= render "contact" %>

<div class="contact-w3-agile1 map" data-aos="flip-right">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2136.3703152252733!2d106.65263866378695!3d10.878437443608044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTDCsDUyJzQxLjQiTiAxMDbCsDM5JzEzLjQiRQ!5e0!3m2!1sen!2s!4v1521983718821" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<script>
	$(document).ready(function() {1
		$('#JiSlider').JiSlider({color: '#fff', start: 3, reverse: true}).addClass('ff')
	})

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

	$('.jarallax').jarallax({
		speed: 0.5,
		imgWidth: 1366,
		imgHeight: 768
	})

	$('.counter').countUp();

	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});


	$(document).ready(function() {
		$().UItoTop({ easingType: 'easeOutQuart' });
	});

	$(window).load(function() {
		$("#flexiselDemo1").flexisel({
			visibleItems:1,
			animationSpeed: 1000,
			autoPlay:false,
			autoPlaySpeed: 3000,
			pauseOnHover: true,
			enableResponsiveBreakpoints: true,
			responsiveBreakpoints: {
				portrait: {
					changePoint:480,
					visibleItems: 1
				},
				landscape: {
					changePoint:640,
					visibleItems:1
				},
				tablet: {
					changePoint:768,
					visibleItems: 1
				}
			}
		});
	});
</script>
