<div class="about">
	<div class="container">
		<div class="about-main">
			<div class="col-md-6 about-left_w3ls_img">

			</div>
			<div class="col-md-6 about-right_w3ls">
			  <div class="about-top_agile_its">
					<h2>Welcome</h2>
					<h5>Cras tincidunt, augue vitae</h5>
					<p>Nulla eget mauris quis elit mollis ornare vitae ut odio. Cras tincidunt, augue vitae sollicitudin commodo, quam elit varius est, et ornare ante massa quis tellus. Mauris nec lacinia nisl. Curabitur tempus tellus et vulputate vestibulum.
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
					<span>
						Nulla eget mauris quis elit mollis ornare vitae ut odio. Cras tincidunt, augue vitae sollicitudin commodo, quam elit varius est
					</span>
			  </div>
		  </div>
	    <div class="clearfix"> </div>
    </div>
	</div>
</div>
<div class="tooltip-content">
	<div class="modal fade features-modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Vavimax</h4>
				</div>
				<div class="modal-body">
					<%= image_tag "g4.jpg", class: "img-responsive", alt: "Vavimax" %>
					<h5>Fishing Season Now Open</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent varius lectus vitae porttitor fringilla. Donec turpis orci, elementum a nunc quis, maximus varius ipsum. Sed bibendum ex in dignissim bibendum.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="banner-bottom">
	<div class="container">
		<div class="wthree_banner_bottom_right">
			<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
				<ul id="myTab" class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home">WOOD PRODUCT</a></li>
					<li role="presentation"><a href="#audio" role="tab" id="audio-tab" data-toggle="tab" aria-controls="audio">RICE HUSK PRODUCT</a></li>
					<li role="presentation"><a href="#video" role="tab" id="video-tab" data-toggle="tab" aria-controls="video">SUGAR CANE PRODUCT</a></li>
					<li role="presentation"><a href="#tv" role="tab" id="tv-tab" data-toggle="tab" aria-controls="tv">CHARCOAL PRODUCT</a></li>
					<li role="presentation"><a href="#kitchen" role="tab" id="kitchen-tab" data-toggle="tab" aria-controls="kitchen">UNDERGROUP PRODUCT</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
						<div class="agile_ecommerce_tabs">
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									<%= image_tag "3.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "4.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "5.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "6.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "7.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "3.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "4.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "5.jpg", alt: " ", class: "img-responsive" %>
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div> 
								<h5><a href="single.html">Mobile Phone1</a></h5>
								<div class="simpleCart_shelfItem">
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart" />
										<input type="hidden" name="add" value="1" /> 
										<input type="hidden" name="w3ls_item" value="Mobile Phone1" /> 
										<input type="hidden" name="amount" value="350.00" />   
										<button type="submit" class="w3ls-cart">Add to cart</button>
									</form>  
								</div>
							</div>
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									<%= image_tag "4.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "5.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "6.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "7.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "3.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "4.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "5.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "6.jpg", alt: " ", class: "img-responsive" %>
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="single.html">Mobile Phone2</a></h5>
								<div class="simpleCart_shelfItem">
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart" />
										<input type="hidden" name="add" value="1" /> 
										<input type="hidden" name="w3ls_item" value="Mobile Phone2" /> 
										<input type="hidden" name="amount" value="302.00" />   
										<button type="submit" class="w3ls-cart">Add to cart</button>
									</form>
								</div>
							</div>
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									<%= image_tag "7.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "6.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "4.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "3.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "5.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "7.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "4.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "6.jpg", alt: " ", class: "img-responsive" %>
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="single.html">Mobile Phone3</a></h5>
								<div class="simpleCart_shelfItem">
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart" />
										<input type="hidden" name="add" value="1" /> 
										<input type="hidden" name="w3ls_item" value="Mobile Phone3" /> 
										<input type="hidden" name="amount" value="245.00"/>   
										<button type="submit" class="w3ls-cart">Add to cart</button>
									</form>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="audio" aria-labelledby="audio-tab">
						<div class="agile_ecommerce_tabs">
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									<%= image_tag "8.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "9.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "10.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "8.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "9.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "10.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "8.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "9.jpg", alt: " ", class: "img-responsive" %>
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="single.html">Speakers</a></h5>
								<div class="simpleCart_shelfItem">
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart" />
										<input type="hidden" name="add" value="1" /> 
										<input type="hidden" name="w3ls_item" value="Speakers" /> 
										<input type="hidden" name="amount" value="250.00" />   
										<button type="submit" class="w3ls-cart">Add to cart</button>
									</form>
								</div>
							</div>
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									<%= image_tag "9.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "8.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "10.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "8.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "9.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "10.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "8.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "9.jpg", alt: " ", class: "img-responsive" %>
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="single.html">Headphones</a></h5>
								<div class="simpleCart_shelfItem">
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart" />
										<input type="hidden" name="add" value="1" /> 
										<input type="hidden" name="w3ls_item" value="Headphones" /> 
										<input type="hidden" name="amount" value="150.00" />   
										<button type="submit" class="w3ls-cart">Add to cart</button>
									</form>
								</div>
							</div>
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									<%= image_tag "10.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "8.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "9.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "8.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "9.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "10.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "8.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "9.jpg", alt: " ", class: "img-responsive" %>
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal1"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="single.html">Audio Player</a></h5>
								<div class="simpleCart_shelfItem">
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart" />
										<input type="hidden" name="add" value="1" /> 
										<input type="hidden" name="w3ls_item" value="Audio Player" /> 
										<input type="hidden" name="amount" value="180.00"/>   
										<button type="submit" class="w3ls-cart">Add to cart</button>
									</form>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="video" aria-labelledby="video-tab">
						<div class="col-md-4 agile_ecommerce_tabs">
							<div class="hs-wrapper">
								<%= image_tag "11.jpg", alt: " ", class: "img-responsive" %>
								<%= image_tag "12.jpg", alt: " ", class: "img-responsive" %>
								<%= image_tag "13.jpg", alt: " ", class: "img-responsive" %>
								<%= image_tag "11.jpg", alt: " ", class: "img-responsive" %>
								<%= image_tag "12.jpg", alt: " ", class: "img-responsive" %>
								<%= image_tag "13.jpg", alt: " ", class: "img-responsive" %>
								<%= image_tag "11.jpg", alt: " ", class: "img-responsive" %>
								<%= image_tag "12.jpg", alt: " ", class: "img-responsive" %>
								<div class="w3_hs_bottom">
									<ul>
										<li>
											<a href="#" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
										</li>
									</ul>
								</div>
							</div>
							<h5><a href="single.html">Laptop</a></h5>
							<div class="simpleCart_shelfItem">
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" /> 
									<input type="hidden" name="w3ls_item" value="Laptop" /> 
									<input type="hidden" name="amount" value="850.00" />   
									<button type="submit" class="w3ls-cart">Add to cart</button>
								</form>
							</div>
						</div>
						<div class="col-md-4 agile_ecommerce_tab_left">
							<div class="hs-wrapper">
								<%= image_tag "12.jpg", alt: " ", class: "img-responsive" %>
								<%= image_tag "11.jpg", alt: " ", class: "img-responsive" %>
								<%= image_tag "13.jpg", alt: " ", class: "img-responsive" %>
								<%= image_tag "11.jpg", alt: " ", class: "img-responsive" %>
								<%= image_tag "12.jpg", alt: " ", class: "img-responsive" %>
								<%= image_tag "13.jpg", alt: " ", class: "img-responsive" %>
								<%= image_tag "11.jpg", alt: " ", class: "img-responsive" %>
								<%= image_tag "12.jpg", alt: " ", class: "img-responsive" %>
								<div class="w3_hs_bottom">
									<ul>
										<li>
											<a href="#" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
										</li>
									</ul>
								</div>
							</div>
							<h5><a href="single.html">Notebook</a></h5>
							<div class="simpleCart_shelfItem">
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" /> 
									<input type="hidden" name="w3ls_item" value="Notebook" /> 
									<input type="hidden" name="amount" value="280.00" />   
									<button type="submit" class="w3ls-cart">Add to cart</button>
								</form>
							</div>
						</div>
						<div class="col-md-4 agile_ecommerce_tab_left">
							<div class="hs-wrapper">
								<%= image_tag "13.jpg", alt: " ", class: "img-responsive" %>
								<%= image_tag "11.jpg", alt: " ", class: "img-responsive" %>
								<%= image_tag "12.jpg", alt: " ", class: "img-responsive" %>
								<%= image_tag "11.jpg", alt: " ", class: "img-responsive" %>
								<%= image_tag "12.jpg", alt: " ", class: "img-responsive" %>
								<%= image_tag "13.jpg", alt: " ", class: "img-responsive" %>
								<%= image_tag "11.jpg", alt: " ", class: "img-responsive" %>
								<%= image_tag "12.jpg", alt: " ", class: "img-responsive" %>
								<div class="w3_hs_bottom">
									<ul>
										<li>
											<a href="#" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
										</li>
									</ul>
								</div>
							</div>
							<h5><a href="single.html">Kid's Toy</a></h5>
							<div class="simpleCart_shelfItem">
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart" />
									<input type="hidden" name="add" value="1" /> 
									<input type="hidden" name="w3ls_item" value="Kid's Toy" /> 
									<input type="hidden" name="amount" value="80.00" />   
									<button type="submit" class="w3ls-cart">Add to cart</button>
								</form>
							</div>
						</div>
						<div class="clearfix"> </div>
						</div>
					<div role="tabpanel" class="tab-pane fade" id="tv" aria-labelledby="tv-tab">
						<div class="agile_ecommerce_tabs">
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									<%= image_tag "14.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "15.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "16.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "14.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "15.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "16.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "14.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "15.jpg", alt: " ", class: "img-responsive" %>
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal3"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="single.html">Refrigerator</a></h5>
								<div class="simpleCart_shelfItem">
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart" />
										<input type="hidden" name="add" value="1" /> 
										<input type="hidden" name="w3ls_item" value="Refrigerator" /> 
										<input type="hidden" name="amount" value="820.00" />   
										<button type="submit" class="w3ls-cart">Add to cart</button>
									</form>
								</div>
							</div>
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									<%= image_tag "15.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "14.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "16.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "14.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "15.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "16.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "14.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "15.jpg", alt: " ", class: "img-responsive" %>
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal3"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="single.html">LED Tv</a></h5>
								<div class="simpleCart_shelfItem">
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart" />
										<input type="hidden" name="add" value="1" /> 
										<input type="hidden" name="w3ls_item" value="LED Tv"/> 
										<input type="hidden" name="amount" value="680.00"/>   
										<button type="submit" class="w3ls-cart">Add to cart</button>
									</form>
								</div>
							</div>
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									<%= image_tag "16.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "14.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "15.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "14.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "15.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "16.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "14.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "15.jpg", alt: " ", class: "img-responsive" %>
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal3"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="single.html">Washing Machine</a></h5>
								<div class="simpleCart_shelfItem">
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart" />
										<input type="hidden" name="add" value="1" /> 
										<input type="hidden" name="w3ls_item" value="Washing Machine" /> 
										<input type="hidden" name="amount" value="510.00" />   
										<button type="submit" class="w3ls-cart">Add to cart</button>
									</form>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="kitchen" aria-labelledby="kitchen-tab">
						<div class="agile_ecommerce_tabs">
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									<%= image_tag "17.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "18.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "19.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "17.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "18.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "19.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "17.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "18.jpg", alt: " ", class: "img-responsive" %>
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal4"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="single.html">Grinder</a></h5>
								<div class="simpleCart_shelfItem">
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart" />
										<input type="hidden" name="add" value="1" /> 
										<input type="hidden" name="w3ls_item" value="Grinder" /> 
										<input type="hidden" name="amount" value="450.00" />   
										<button type="submit" class="w3ls-cart">Add to cart</button>
									</form>
								</div>
							</div>
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									<%= image_tag "18.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "17.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "19.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "17.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "18.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "19.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "17.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "18.jpg", alt: " ", class: "img-responsive" %>
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal4"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="single.html">Water Purifier</a></h5>
								<div class="simpleCart_shelfItem">
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart" />
										<input type="hidden" name="add" value="1" /> 
										<input type="hidden" name="w3ls_item" value="Water Purifier" /> 
										<input type="hidden" name="amount" value="350.00" />   
										<button type="submit" class="w3ls-cart">Add to cart</button>
									</form>
								</div>
							</div>
							<div class="col-md-4 agile_ecommerce_tab_left">
								<div class="hs-wrapper">
									<%= image_tag "19.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "17.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "18.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "17.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "18.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "19.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "17.jpg", alt: " ", class: "img-responsive" %>
									<%= image_tag "18.jpg", alt: " ", class: "img-responsive" %>
									<div class="w3_hs_bottom">
										<ul>
											<li>
												<a href="#" data-toggle="modal" data-target="#myModal4"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
											</li>
										</ul>
									</div>
								</div>
								<h5><a href="single.html">Coffee Maker</a></h5>
								<div class="simpleCart_shelfItem">
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart" />
										<input type="hidden" name="add" value="1" /> 
										<input type="hidden" name="w3ls_item" value="Coffee Maker" /> 
										<input type="hidden" name="amount" value="220.00" />   
										<button type="submit" class="w3ls-cart">Add to cart</button>
									</form>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
			</div> 
		</div>
	  <div class="clearfix"> </div>
	</div>
</div>
<div class="news">
	<div class="container">
		<h3 class="wthree_head">News</h3>
		<p class="w3l_sub_para_agile">Curabitur quis egestas diam</p>
		<div class="w3-agileits-news-grids">
			<div class="col-md-6 news-left">
				<div class="w3-agile-news-date">
					<div class="agile-news-icon">
						<i class="fa fa-calendar" aria-hidden="true"></i>
						<p>Nov 24</p>
					</div>
					<div class="agileits-line"> </div>
					<div class="agile-news-icon">
						<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
						<p>2 comments</p>
					</div>
					<div class="agileits-line"> </div>
					<div class="agile-news-icon">
						<a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
						<p>3482</p>
					</div>
				</div>
				<div class="w3-agile-news-img">
					<a href="#myModal" data-toggle="modal"><%= image_tag "g1.jpg", alt: "" %></a>
					<h4><a href="#myModal" data-toggle="modal">Pellentesque habitant </a></h4>
					<p>Donec justo ante, maximus et aliquam et, elementum ac purus. Nam eget ante ac velit laoreet sodales ut vel nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-6 news-left">
				<div class="w3-agile-news-date">
					<div class="agile-news-icon">
						<i class="fa fa-calendar" aria-hidden="true"></i>
						<p>Nov 24</p>
					</div>
					<div class="agileits-line"> </div>
					<div class="agile-news-icon">
						<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
						<p>2 comments</p>
					</div>
					<div class="agileits-line"> </div>
					<div class="agile-news-icon">
						<a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
						<p>3482</p>
					</div>
				</div>
				<div class="w3-agile-news-img">
					<a href="#myModal" data-toggle="modal"><%= image_tag "g2.jpg", alt: "" %></a>
					<h4><a href="#myModal" data-toggle="modal">Pellentesque habitant </a></h4>
					<p>Nam eget ante ac velit laoreet sodales ut vel nibh. Donec justo ante, maximus et aliquam et, elementum ac purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="w3-agileits-news-grids  news-w3row2">
			<div class="col-md-6 news-left">
				<div class="w3-agile-news-date">
					<div class="agile-news-icon">
						<i class="fa fa-calendar" aria-hidden="true"></i>
						<p>Nov 24</p>
					</div>
					<div class="agileits-line"> </div>
					<div class="agile-news-icon">
						<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
						<p>2 comments</p>
					</div>
					<div class="agileits-line"> </div>
					<div class="agile-news-icon">
						<a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
						<p>3482</p>
					</div>
				</div>
				<div class="w3-agile-news-img">
					<a href="#myModal" data-toggle="modal"><%= image_tag "g4.jpg", alt: "" %></a>
					<h4><a href="#myModal" data-toggle="modal">Pellentesque habitant </a></h4>
					<p>Donec justo ante, maximus et aliquam et, elementum ac purus. Nam eget ante ac velit laoreet sodales ut vel nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-6 news-left">
				<div class="w3-agile-news-date">
					<div class="agile-news-icon">
						<i class="fa fa-calendar" aria-hidden="true"></i>
						<p>Nov 24</p>
					</div>
					<div class="agileits-line"> </div>
					<div class="agile-news-icon">
						<a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
						<p>2 comments</p>
					</div>
					<div class="agileits-line"> </div>
					<div class="agile-news-icon">
						<a href="#"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></a>
						<p>3482</p>
					</div>
				</div>
				<div class="w3-agile-news-img">
					<a href="#myModal" data-toggle="modal"><%= image_tag "g3.jpg", alt: "" %></a>
					<h4><a href="#myModal" data-toggle="modal">Pellentesque habitant </a></h4>
					<p>Nam eget ante ac velit laoreet sodales ut vel nibh. Donec justo ante, maximus et aliquam et, elementum ac purus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="stats jarallax" id="stats">
  <div class="agile_overlay2">
    <div class="container">
			<div class="agileits_heading_section">
				<h3 class="wthree_head two">Stats</h3>
				<p class="w3l_sub_para_agile">For Digital Life</p>

			</div>
			<div class="inner_w3l_agile_grids-1">
				<div class="col-md-3 w3layouts_stats_left w3_counter_grid">
				    <i class="fa fa-picture-o" aria-hidden="true"></i>
					<p class="counter">1,546</p>
					<h3>Sodales ut</h3>
				</div>
				<div class="col-md-3 w3layouts_stats_left w3_counter_grid1">
				    <i class="fa fa-smile-o" aria-hidden="true"></i>
					<p class="counter">14,345</p>
					<h3>Donec justo</h3>
				</div>
				<div class="col-md-3 w3layouts_stats_left w3_counter_grid2">
				<i class="fa fa-trophy" aria-hidden="true"></i>
					<p class="counter">563</p>
					<h3>Velit laoreet</h3>
				</div>
				<div class="col-md-3 w3layouts_stats_left w3_counter_grid3">
				<i class="fa fa-camera" aria-hidden="true"></i>
					<p class="counter">2,874</p>
					<h3>Ipsum dolor</h3>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>

<div class="about" id="about">
	<div class="container">
		 <div class="agileits_heading_section">
				<h3 class="wthree_head">About</h3>
			</div>
		<div class="about-grids">
			<div class="col-md-5 wthree-about-left">
				<div class="wthree-about-left-info">
					<%= image_tag "g6.jpg", alt: "" %>
				</div>
			</div>
			<div class="col-md-7 agileits-about-right">
				<h5>Cras ac pellentesque diam. Mauris eu purus eu lectus fermentum dictum at ut dolor. Fusce id sodales turpis. Mauris facilisis tristique tincidunt. Phasellus hendrerit ligula dui, quis elementum mi condimentum at.</h5>
				<p>In hac habitasse platea dictumst. Aenean quis orci a erat convallis tincidunt. Curabitur blandit efficitur quam sit amet sagittis. Mauris aliquam, dui nec semper pellentesque, ex erat fringilla purus, ut placerat ante urna in nulla. Nullam est nunc, dictum dictum blandit sit amet, gravida et elit. Suspendisse ultricies mauris eu tortor blandit gravida.
				<span>Nullam eget viverra mi. Etiam eget posuere eros, id vulputate neque. Etiam interdum consequat erat, sed auctor neque ullamcorper a. Integer commodo eget risus vitae gravida. Nullam libero mi, condimentum quis finibus ut, consequat ac quam.</span>
				</p>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
<div class="contact-w3ls" id="contact">
	<div class="container">
	<div class="agileits_heading_section">
				<h3 class="wthree_head">Contact Me</h3>
				<p class="w3l_sub_para_agile">Give me a message</p>
			</div>
	<div class="inner_w3l_agile_grids-1">
		<div class="contact-w3-agile2" data-aos="flip-left">
			<div class="contact-agileits">
				<h4>Drop a Line</h4>
				<p class="contact-agile2">Sign Up For Our News Letters</p>
				<form action="#" method="post" name="sentMessage" id="contactForm" novalidate>
				  <div class="col-md-6 w3l_area_its">
					<div class="control-group form-group">
                        <div class="controls">
                            <label class="contact-p1">Full Name:</label>
                            <input type="text" class="form-control" name="name" id="name" required data-validation-required-message="Please enter your name.">
                            <p class="help-block"></p>
                        </div>
                    </div>	
                    <div class="control-group form-group">
                        <div class="controls">
                            <label class="contact-p1">Phone Number:</label>
                            <input type="tel" class="form-control" name="phone" id="phone" required data-validation-required-message="Please enter your phone number.">
							<p class="help-block"></p>
						</div>
                    </div>
					</div>
					 <div class="col-md-6 w3l_area">
                    <div class="control-group form-group">
                        <div class="controls">
                            <label class="contact-p1">Email Address:</label>
                            <input type="email" class="form-control" name="email" id="email" required data-validation-required-message="Please enter your email address.">
							<p class="help-block"></p>
						</div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary">Send</button>
					</div>	
<div class="clearfix"> </div>					
				</form>            
			</div>
		</div>
		
		<div class="clearfix"></div>
	</div>
</div>
</div>
<div class="contact-w3-agile1 map" data-aos="flip-right">	
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d273813.12933167885!2d-74.20415654215367!3d40.69079407529126!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1500966048628" class="map" style="border:0" allowfullscreen=""></iframe>
</div>

<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<script>
	$(document).ready(function() {1
		$('#JiSlider').JiSlider({color: '#fff', start: 3, reverse: true}).addClass('ff')
	})

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

	$('.jarallax').jarallax({
		speed: 0.5,
		imgWidth: 1366,
		imgHeight: 768
	})

	$('.counter').countUp();

	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});


	$(document).ready(function() {
		$().UItoTop({ easingType: 'easeOutQuart' });
	});

	$(window).load(function() {
		$("#flexiselDemo1").flexisel({
			visibleItems:1,
			animationSpeed: 1000,
			autoPlay:false,
			autoPlaySpeed: 3000,
			pauseOnHover: true,
			enableResponsiveBreakpoints: true,
			responsiveBreakpoints: {
				portrait: {
					changePoint:480,
					visibleItems: 1
				},
				landscape: {
					changePoint:640,
					visibleItems:1
				},
				tablet: {
					changePoint:768,
					visibleItems: 1
				}
			}
		});
	});
</script>
