<!DOCTYPE html>
<html>
  <head>
    <title>Vavimex</title>
    <%= favicon_link_tag "favicon.ico" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
	  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>

  </head>

  <body">
    <div class="banner-top">
    	<%= render "shared/header" %>
    	<%= render "shared/banner" %>
    </div>
    <%= yield %>
    <%= render "shared/footer" %>
    <%= content_for :specific_page_js %>
  </body>
</html>
